{% extends 'base.html' %}
{% block title %}
 Cibansa - Forgot password
{% endblock %}

{% block body %}
<style>
    form{
        padding: 40px;
        padding-bottom:20px;
    }
</style>
<section class="body-container">
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
          <form action="{% url 'forgot-password' %}" method="post">
			  {% csrf_token %}
			  {{ form.non_field_errors}}

			  <div class="form-group">
            <input type="email" name="email" class="form-control" placeholder="Email">
				  {{ form.email.errors }}
          </div>


          <div class="login-btn">
            <button type="submit" class="btn btn-primary btn-block" style="margin-top: 1em;margin-bottom: 1em;">Submit</button>
          </div>
		  </form>
        </div>
    </div>

</section>


{% endblock %}