{% extends 'base.html' %}
{% block title %}
 Boiling Frogs - Login
{% endblock %}

{% block body %}
<style>
    form{
        padding: 40px;
        padding-bottom:20px;
    }
</style>
<section class="body-container">
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
            
          <form action="{% url 'account-login' %}" method="post">
			  {% csrf_token %}
			  {{ form.non_field_errors}}

			  <div class="form-group">
            <input type="email" name="email" class="form-control" placeholder="Email">
				  {{ form.email.errors }}
          </div>

          <div class="form-group">
            <input type="password"  name="password" class="form-control" placeholder="Password">
			  {{ form.password.errors }}
          </div>

          <div class="checkbox">
				    <label><input type="checkbox" name="keep_me" > Keep me signed in</label>
				  </div>
          <a href="{% url 'forgot-password' %}" class="right">Forgot your password?</a>

          <div class="login-btn">
            <button type="submit" class="btn btn-primary btn-block" style="margin-top: 1em;margin-bottom: 1em;">Login</button>
            <div class="row">
            	<div class="col-md-6">
            		<a href="{% url 'account-sign-up' %}">Not a member? Sign Up</a>
            	</div>
            	<div class="col-md-6">
            		<a href="{% url 'forgot-password' %}" id="toggle_signUp">Forgot password</a> <br>
            		<!--<a href="#">Problem loging in?</a>-->
            	</div>
            </div>
          </div>
		  </form>
        </div>
    </div>

</section>


{% endblock %}