{% extends "base.html" %}


{% block title %} Cibansa - Edit a Question {% endblock %}

{% block body %}
{% load js %}
{% django_js %}
    <section id="green-header" class="body-container">
		<div class="container">
			<div class="row">
				<div class="col-xs-8">
					<h4 style="color:#fff">
				<a style="color:#fff" href="{% url 'list-topic' slug=question.category.slug%}">{{ question.category }}</a> /
				<a style="color:#fff"href="{% url 'list-topic-questions' slug=question.topic.slug %} ">{{ question.topic.title }}</a>
				/ {{ question.title }}</h4>

				</div>
			</div>
		</div>
	</section>

	<section id="question">
		<div class="container">


			<div class="well">
				<div class="selection">
                    {% include "../partials/question-form.html" %}
                </div>
			</div>
		</div>
	</section>
<script>

</script>
<!--{% block extras %}-->

<!--{% endblock %}-->

{% endblock %}



