{% extends 'base.html' %}


{% block body %}
{% load js %}
{% django_js %}

<section id="course-container">
	<div class="container">
		<!--<div class="overlay"></div>-->
		<div class="inside-padding">
            <h1 class="content_head"><strong>Boiling Frogs</strong></h1>
            <h1><p class="content_summary"><em>Learn New Tech Skills...</em></p></h1>
            <h1><p class="content_summary">Boiling Frogs provide instructor-led online training.<br /><br />
                Get ahead with expert-led training in the field of Programming,
                Data Science, Data Analytics and more...</h1></p>
		</div>
	</div>
	</div>

</section>
<!--- Courses Addition Code STARTED -->
<section id="courses">
    <div class="container">
        <div class="row">
            <h2 class="content_head">Courses</h2>
            {% for a in courses %}
                <div class="col-md-3">
                    <a href="{% url 'view-course' id=a.id %}">
                        <div class="well round_container">
                            <div class="img-content" style="text-align: center; background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.5),
                             rgba(0, 0, 0, 0.5)), url('{{ a.image.url }}')">
                                <h2>
                                    {{ a.title|truncatechars:35 }}
                                </h2>
                            </div>
                            <div class="desc-content">
                                <div class="row">
                                    <div class="col-xs-9">
                                        <ul class="detail">
                                            <!--<li>{{ a.user }}</li>-->
                                            <li><strong style="font-size:16px">category : </strong>{{ a.category }}</li>
                                            <!--<li><strong style="font-size:16px">Starting On:</strong>{{ a.created_at |date:"d-M-y" }}</li>-->
                                        </ul>
                                    </div>
                                </div>
                                <div class="read">
                                        <a href="{% url 'view-course' id=a.id %}" class="btn btn-default">read more</a>
                                        <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {% empty %}
                <div class="text-center">
                    <h4>No Courses found.</h4>
                </div>
            {% endfor %}

        </div>
        <!--{% if courses %}-->
            <!--<div class="text-center"><h4><a style="color:#994099" class="view-all" href="{% url 'list-courses' %}">View more Courses</a></h4></div>-->
        <!--{% endif %}-->
    </div>
</section>
<!-- Courses Addition Code END -->


<section id="about">
	<div class="container">
		<h1 class="content_head">about us</h1>
		<p style="text-align: justify;">
			The world, as we know it, is constantly evolving with ever changing technology that is unprecedented in
			history. It’s even more important, then, to stay relevant. We are Boiling Frogs, where we provide an
			instructor led online training which is affordable, engaging and highly effective real-world skills that
			industry employers need today.<br>
			Give us a ring or email at <strong>info@boilingfrogs.in</strong>.
			<br>
			We can contemplate life, movies, and of course you.
		</p>
	</div>
</section>

<section id="OurProcess">
	<div class="container">
		<h1 class="content_head">Our Process</h1>
		<p style="text-align: justify;">
			We believe that each one of us is unique, so are our learning needs.
		</p>

	</div>
</section>

<section id="contact">
	<div class="container">
		<div class="row">
			<h1 class="content_head">contact us</h1>
			<form class="mobile-padding" method="post" action="{% url 'home-page' %}">
				{% csrf_token %}
				<div class="row">
					<div class="col-md-3">
						<div class="form-group">
						<input type="text" class="form-control" placeholder="first name" required name="first_name">
							{{ form.first_name.errors }}
					  </div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
						<input type="text" class="form-control" placeholder="last name" required name="last_name">
							{{ form.last_name.errors }}
					  </div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
						<input type="email" class="form-control" placeholder="email" required name="email">
							{{ form.email.errors }}
					  </div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
						<input type="text" class="form-control" placeholder="phone" name="phone">
							{{ form.phone.errors }}
					  </div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<textarea required rows="5" class="form-control" placeholder="message" name="content"></textarea>
							{{ form.content.errors }}
						</div>
					</div>
				</div>
				<div class="text-center">
					<input type="submit" class="btn btn-default" value="submit">
				</div>
			</form>
		</div>
	</div>
</section>

{% endblock %}
