{% extends 'base.html' %}


{% block body %}
{% load js %}
{% django_js %}

<section id="course-container">
	<div class="container">
		<!--<div class="overlay"></div>-->
		<div class="inside-padding">
            <h1 class="content_head"><strong>Boiling Frogs</strong></h1>
            <h1><p class="content_summary"><em>Learn New Tech Skills...</em></p></h1>
            <h1><p class="content_summary">Boiling Frogs provide instructor-led online training.<br /><br />
                Get ahead with expert-led training in the field of Programming,
                Data Science, Data Analytics and more...</h1></p>
		</div>
	</div>
	</div>

</section>
<!--- Courses Addition Code STARTED -->
<section id="courses">
    <div class="container">
        <div class="row">
            <h2 class="content_head">Courses</h2>
            {% for a in courses %}
                <div class="col-md-3">
                    <a href="{% url 'view-course' id=a.id %}">
                        <div class="well round_container">
                            <div class="img-content" style="text-align: center; background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.5),
                             rgba(0, 0, 0, 0.5)), url('{{ a.image.url }}')">
                                <h2>
                                    {{ a.title|truncatechars:35 }}
                                </h2>
                            </div>
                            <div class="desc-content">
                                <div class="row">
                                    <div class="col-xs-9">
                                        <ul class="detail">
                                            <!--<li>{{ a.user }}</li>-->
                                            <li><strong style="font-size:16px">category : </strong>{{ a.category }}</li>
                                            <!--<li><strong style="font-size:16px">Starting On:</strong>{{ a.created_at |date:"d-M-y" }}</li>-->
                                        </ul>
                                    </div>
                                </div>
                                <div class="read">
                                        <a href="{% url 'view-course' id=a.id %}" class="btn btn-default">read more</a>
                                        <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {% empty %}
                <div class="text-center">
                    <h4>No Courses found.</h4>
                </div>
            {% endfor %}

        </div>
        <!--{% if courses %}-->
            <!--<div class="text-center"><h4><a style="color:#994099" class="view-all" href="{% url 'list-courses' %}">View more Courses</a></h4></div>-->
        <!--{% endif %}-->
    </div>
</section>
<!-- Courses Addition Code END -->


<section id="about">
	<div class="container">
		<h1 class="content_head">about us</h1>
		<p style="text-align: justify;">
			Let&rsquo;s share a small story which might tell more about us,
			There was once a frog which fell into a container of water, the container was on a electric heater.
			The frog did not attempt to jump out of the container as it adapted itself to the raising
			temperature accordingly and stayed in it. As the temperature of the water started rising
			and reached its boiling point, the frog was no longer able to adapt. The frog tried to jump out
			of the container but with water temperature reaching its boiling point, the frog was not able to
			bear it and couldn&rsquo;t make it.&nbsp;<br />&nbsp;<br />The lesson to be learnt from&nbsp;


			<ul style="list-style-type: disc;">
			<li class="Mu SP" style="color: #ffffff;">Do the right thing which is relevant to you, staying with the flow sometimes may lead to no man&rsquo;s land.</li>
			<li class="Mu SP" style="color: #ffffff;">If we are not sure on what needs to be done, <strong>CONSULT</strong>.</li>
			<li class="Mu SP" style="color: #ffffff;">If the skill you possess is becoming obsolete <strong>REDEFINE</strong>.</li>
			<li class="Mu SP" style="color: #ffffff;">If the current job doesn&rsquo;t meet your career goal <strong>REFINE</strong> and <strong>RE-INSTATE</strong>.&nbsp;</li>
			<li class="Mu SP" style="color: #ffffff;">Create a next version of yourself and be <strong>RELEVANT</strong> to growing market trends may be your own version of 2.0.</li>
			</ul>
		</p>
	</div>
</section>

<section id="OurProcess">
	<div class="container">
		<h1 class="content_head">Our Process</h1>
		<p style="text-align: justify;">
			We believe that each one of us is unique, so are our learning needs.
			We know that learning is a hard work and we are here to support you at every step.
			One can learn new skill by practicing it. That&rsquo;s why our courses focuses more on
			practices and real-time scenarios. The prime issue when learning a new skill arises when
			we feel stuck and cannot figure it out how to continue. In those situations,
			having mentors available will ease up the process and keeps the interest alive. &nbsp;
			We know that learning is hard work, and we are here to support you at every step of yours,
			our students success is our top priority
		</p>

	</div>
</section>

<section id="contact">
	<div class="container">
		<div class="row">
			<h1 class="content_head">contact us</h1>
			<form class="mobile-padding" method="post" action="{% url 'home-page' %}">
				{% csrf_token %}
				<div class="row">
					<div class="col-md-3">
						<div class="form-group">
						<input type="text" class="form-control" placeholder="first name" required name="first_name">
							{{ form.first_name.errors }}
					  </div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
						<input type="text" class="form-control" placeholder="last name" required name="last_name">
							{{ form.last_name.errors }}
					  </div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
						<input type="email" class="form-control" placeholder="email" required name="email">
							{{ form.email.errors }}
					  </div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
						<input type="text" class="form-control" placeholder="phone" name="phone">
							{{ form.phone.errors }}
					  </div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<textarea required rows="5" class="form-control" placeholder="message" name="content"></textarea>
							{{ form.content.errors }}
						</div>
					</div>
				</div>
				<div class="text-center">
					<input type="submit" class="btn btn-default" value="submit">
				</div>
			</form>
		</div>
	</div>
</section>

{% endblock %}
