{% extends "base.html" %}

{% block title %} Cibansa - {{ category.name }} topics  {% endblock %}
{% block body %}


<section class="body-container" id="list-topic">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<div class="search-box">
						<form class="" action="{% url 'topic-search' %}">
							<input type="text" class="form-control" name="q">
							<input type="hidden" name="cat" value="{{ category.id }}">
							<i class="fa fa-search search-btn" style="cursor:pointer" aria-hidden="true"></i>
						</form>

					</div>
				</div>
				<div class="col-md-6 for-mobile">
					<h3 class="filter">{{ category.name }}</h3>
				</div>
				<div class="col-md-3">
					<!--<a href="#" class="btn btn-purple pull-right" data-toggle="modal"-->
					   <!--data-target="#post-question">post a question-->
					<!--</a>-->
					<a href="{% url 'post-new-question' %}?c={{ category.id }}" class="btn btn-purple pull-right" >post a question
					</a>
				</div>
			</div>
			<div class="space"></div>
			<div class="row">
				<!--<div class="col-md-3 for-mobile">-->
					<!--&lt;!&ndash;<h4 class="filter">filter by tags</h4>&ndash;&gt;-->
					<!--&lt;!&ndash; <div class="chips chips-initial"></div> &ndash;&gt;-->
					<!--&lt;!&ndash;<div class="chip-container">&ndash;&gt;-->

							<!--&lt;!&ndash;{ for t in tags }&ndash;&gt;-->
								<!--&lt;!&ndash;<div class="chip">&ndash;&gt;-->
									<!--&lt;!&ndash;<input type="hidden" name="tag" value="{ t.name }">&ndash;&gt;-->
								<!--&lt;!&ndash;{ t.name }&ndash;&gt;-->
								<!--&lt;!&ndash;<i class="close material-icons">close</i>&ndash;&gt;-->
								<!--&lt;!&ndash;</div>&ndash;&gt;-->
							<!--&lt;!&ndash;{ endfor }&ndash;&gt;-->
					<!--&lt;!&ndash;</div>&ndash;&gt;-->

				<!--</div>-->
				<div class="col-md-12 ">
					<div class="row">

						{% for t in topics %}
							<div class="col-md-3">
								<a href="{% url 'list-topic-questions' slug=t.slug %}">
									<div class="well round_container">
										<div class="desc-category">
											<div class="category-head clearfix">
												<div class="pull-left"><h4>{{ t.title }}</h4></div>

											</div>
											<div class="category-info">
												<ul class="detail">
													<!--<li>{ t.category.name }</li>-->
													<li>questions : <span>{{ t.topic_questions.count }}</span></li>
													<li>discussions : <span>{{ t.get_no_of_discussion.discussion }}</span></li>
												</ul>
											</div>
										</div>
									</div>
								</a>
							</div>
						{% endfor %}

					</div>

					<div class="row">
						{% if topics.has_other_pages %}
						  <ul class="pagination">
							{% if topics.has_previous %}
							  <li><a href="?page={{ topics.previous_page_number }}">&laquo;</a></li>
							{% else %}
							  <li class="disabled"><span>&laquo;</span></li>
							{% endif %}
							{% for i in topics.paginator.page_range %}
							  {% if topics.number == i %}
								<li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
							  {% else %}
								<li><a href="?page={{ i }}">{{ i }}</a></li>
							  {% endif %}
							{% endfor %}
							{% if topics.has_next %}
							  <li><a href="?page={{ topics.next_page_number }}">&raquo;</a></li>
							{% else %}
							  <li class="disabled"><span>&raquo;</span></li>
							{% endif %}
						  </ul>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</section>

<script>
	$(".search-btn").click(function(){
		$("form").submit()
	})
</script>
{% endblock %}