{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %} CiBanSA - Post a Question {% endblock %}

{% block body %}
{% load js %}
{% django_js %}
<script>
	var topic = "{{ topic.id }}"
</script>
    <section id="green-header" class="body-container">
		<div class="container">
			<div class="row">
				<div class="col-xs-8">
					<h4 style="color:#fff">
						{% if topic %}
							<a style="color:#fff" href="{% url 'list-topic' slug=topic.category.slug %}">
								{{ topic.category }}</a> /
							<a style="color:#fff"href="{% url 'list-topic-questions' slug=topic.slug %} ">
								{{ topic.title }}</a>
						{% elif category %}
							<a style="color:#fff" href="{% url 'list-topic' slug=category.slug %}">
								{{ category.name }}</a>
						{% endif %}

			</h4>
					<!--<h3 class="filter" style="color: #fff">post a question</h3>-->
				</div>
			</div>
		</div>
	</section>

	<section id="question">
		<div class="container">


			<div class="well">
				<div class="selection">
					{% include "../partials/question-form.html" %}

				</div>
			</div>
		</div>
	</section>
<script>

</script>
<!--{% block extras %}-->

<!--{% endblock %}-->

{% endblock %}



