{% extends 'base.html' %}

{% block title %} Cibansa - {{ topic.name }} questions {% endblock %}
{% load remove_tag %}
{% block body %}

<section id="green-header" class="body-container">
		<div class="container">
			<div class="row">
				<div class="col-xs-8">
					<h3 class="" style="color: #fff">{{ topic.title }}</h3>
				</div>
				<div class="col-xs-4">
					<a style="margin-top: 22px;" href="{% url 'post-new-question' %}" class="btn btn-white pull-right">post a question</a>
				</div>
			</div>
		</div>
	</section>

	<section id="question" >
		<div class="container">


			{% for q in questions %}
				<div class="well">
				<div class="row">
					<div class="col-md-10">
						<div class="main-question">
							<h5 class="clearfix">
								<span class="prefix">Q:</span>
								<span class="qus">{{ q.question.title }}</span>
							</h5>
							<p>{{ q.question.description|remove_tag:"img" |truncatechars_html:200  |safe }}</p>
						</div>
						<div class="chip-container">
							{% for t in q.question.question_tags.all %}
								<div class="chip">
								{{ t.tag.name }}
							  </div>
							{% endfor %}

						</div>
						<div class="author">
							{% if q.question.owner.profile.has_photo %}
								<div >
									{{ q.question.owner.get_profile_pix | safe }}
								</div>
							{% else %}
								<div>
									{{ q.question.owner.get_profile_pix | safe }}
								</div>
							{% endif %}
							<ul class="detail">
								<li><span>{{ q.question.owner.get_full_name }}</span></li>
								<li><span>{{ q.question.created_at |date:"M, d y P" }}</span></li>
							</ul>
						</div>
					</div>
					<div class="col-md-12">
						<div class="view-answer clearfix">
							<a href="{% url 'view-question' id=q.question.id %}" class="btn btn-purple pull-right">view answer and discussion</a>
						</div>
					</div>
				</div>

			</div>
			{% endfor %}
			<div class="row">
					{% if questions.has_other_pages %}
						  <ul class="pagination">
							{% if questions.has_previous %}
							  <li><a href="?page={{ questions.previous_page_number }}">&laquo;</a></li>
							{% else %}
							  <li class="disabled"><span>&laquo;</span></li>
							{% endif %}
							{% for i in questions.paginator.page_range %}
							  {% if questions.number == i %}
								<li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
							  {% else %}
								<li><a href="?page={{ i }}">{{ i }}</a></li>
							  {% endif %}
							{% endfor %}
							{% if questions.has_next %}
							  <li><a href="?page={{ questions.next_page_number }}">&raquo;</a></li>
							{% else %}
							  <li class="disabled"><span>&raquo;</span></li>
							{% endif %}
						  </ul>
						{% endif %}
					</div>

		</div>
	</section>


{% endblock %}